@model Carly.Models.Admin

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<section id="AdminArea">
    <div>
        <a href="/Admin/AdminList"><i class="glyphicon glyphicon-user"></i> Admin privilrages</a><br />
        <a href="/TrainingDatas/"><span class="glyphicon glyphicon-list-alt"></span> Traing data Area</a><br />
        <a href="/comments/"><i class="glyphicon glyphicon-comment"></i> Comments Area</a><br />

    </div>
</section>



