
@{
    ViewBag.Title = "CarChart";
}
@Styles.Render("~/Content/graph")

<!--Chart of cars, groupby BrandName-->


    <div id="main">
    <h2>Brands Statistics</h2>
        <p>View our cars stoke statistics, this graph shows brands statistics</p>
    <div id="chartByBrand">
        <div id="explanation" style="visibility : visible">
            <span id="percentage"></span><br />
        </div>
    </div>
</div>

        
@Scripts.Render("~/bundles/graph")
@section scripts
{
        @Scripts.Render("~/bundles/modernizr")

    <script src="https://d3js.org/d3.v4.min.js"></script>
<script>

    $(document).ready(function () {
    Graph('/degems/BrandsStatistics/', "chartByBrand");
    Graph('/degems/CountryStatistics/', "CountryStatistics");
    Graph('/degems/ColorStatistics/', "ColorStatistics");
    });
    
</script>
}