h2 {
    text-shadow: 2px 2px rgb(236, 133, 5);
}

/*------------------------------
=COMMENTS
------------------------------*/

#comments {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}

    #comments article {
        display: table;
        padding: 22px;
    }

        #comments article:nth-child(odd) {
            padding: 21px;
            background: #ec8505;
            border: 1px solid #d7d7d7;
            -moz-border-radius: 11px;
            -webkit-border-radius: 11px;
        }

        #comments article header {
            display: table-cell;
            width: 220px;
            padding-right: 22px;
        }

            #comments article header a {
                display: block;
                font-weight: bold;
                color: #000;
            }

                #comments article header a:hover {
                    text-decoration: none;
                }

        #comments article p {
            padding: 0;
        }




.comments {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

    .comments article {
        display: table;
        padding: 22px;
    }

        .comments article:nth-child(odd) {
            padding: 21px;
            background: #ec8505;
            border: 1px solid #bd6f0e;
            -moz-border-radius: 11px;
            -webkit-border-radius: 11px;
        }
       

        .comments article header {
            display: table-cell;
            width: 220px;
            padding-right: 22px;
        }

            .comments article header a {
                display: block;
                font-weight: bold;
                color: #ffffff;
            }

                .comments article header a:hover {
                    text-decoration: none;
                }

        .comments article p {
            padding: 0;
        }




/*------------------------------
=COMMENT FORM
------------------------------*/


.comments-form form p {
    display: table;
    margin-bottom: 22px;
    padding: 0 22px;
}

.comments-form form label {
    display: table-cell;
    width: 140px;
    padding-right: 20px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

.comments-form form input[type="text"], form input[type="email"], form input[type="url"] {
    display: table-cell;
    width: 300px;
    height: 20px;
    border: 1px solid #d7d7d7;
}

.comments-form form textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #d7d7d7;
}

.comments-form form input[type="submit"] {
    margin-left: 162px;
}


.img-field {
    // max-width: 280px;
    max-width: 580px;
    display: -webkit-inline-box !important;
}

video {
    border: 2px solid;
    border-radius: 30px 30px 30px 30px;
}

.about {
    column-count: 3;
    width: 90%;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
}

.Cimg {
    transition: width 2s, height 4s;
    transition: width 2s;
}

    .Cimg:hover {
        width: 100px;
    }


